@charset "utf-8";
@use "../foundation/mixins" as *;
/* ============================================
// インタビュー
// ==========================================*/

.lower-interview_l {
  .interview {
    &__inner {
      padding-top: 110px;
      padding-bottom: 140px;
      max-width: 1330px;
      @include mq(tab_max) {
        padding-top: 0;
        padding-bottom: 96px;
      }
    }
    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        width: 80%;
        height: calc(120px + 100% + 40px);
        border: 40px solid $fourth-color;
        position: absolute;
        top: -120px;
        left: 50%;
        transform: translateX(-50%);
        @include mq(tab_max) {
          width: 60%;
          border: 20px solid $fourth-color;
          height: calc(100% + 16px);
          top: 0;

        }
      }

      &__item {
        width: 29%;
        margin-right: 6.5%;
        margin-top: 210px;
        @include mq(tab_max) {
          width: 90%;
          margin: 36px auto 0;
        }

        &:first-child {
          margin-top: 0;
        }
        &:nth-child(2) {
          @include mq(tab_min) {
            margin-top: 0;
          }
        }
        &:nth-child(3) {
          @include mq(tab_min) {
            margin-top: 0;
          }
        }
        &:nth-child(3n+2) {
          @include mq(tab_min) {
            transition-delay: 0.2s;
          }
        }
        &:nth-child(3n+3) {
          @include mq(tab_min) {
            transition-delay: 0.4s;
            margin-right: 0;
          }
        }

        .bubble {
          width: 130%;
          position: absolute;
          top: -40px;
          left: 50%;
          font-size: 1.8rem;
          line-height: 1.6;
          background-color: #fff;
          border: 3px solid $third-color;
          padding: 20px 24px;
          border-radius: 10px;
          transition: all 0.3s;
          transform: translate(-50%,-80%);
          @include mq(tab_min) {
            opacity: 0;
          }
          @include mq(tab_max) {
            width: 110%;
            position: relative;
            top: auto;
            left: 50%;
            font-size: 1.6rem;
            padding: 16px;
            transform: translateX(-50%);
            margin-bottom: 28px;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 17px 7.5px 0 7.5px;
            border-color: #ffffff transparent transparent transparent;
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translate(-50%,100%);
            z-index: 2;
          }
          &:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 24px 9px 0 9px;
            border-color: $third-color transparent transparent transparent;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,100%);
          }
        }

        a {
          display: block;
          transition: transform 0.3s;
          position: relative;

          @include mq(hover) {
            &:hover {
              transform: scale(1.05);

              .bubble {
                opacity: 1;
                transform: translate(-50%,-100%);
              }
            }
          }
        }

        .img-holder {
          .img {
            @include keepAspect(110%);
            img {
              border-radius: 10px;
            }
          }
        }
        .txt-holder {
          position: relative;
          text-align: center;

          &:before {
            content: '';
            display: inline-block;
            background-image: url(../img/common/ico_arrow_green.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: 24px;
            right: 0;
          }

          .position {
            color: #fff;
            background-color: $primary-color;
            border-radius: 2px;
            padding: 4px 8px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;
          }
          .name {
            font-size: 2.2rem;
            font-weight: bold;
            display: block;
            padding: 28px 8% 0;
            @include mq(tab_max) {
              font-size: 2rem;
              padding: 24px 8% 0;
            }
          }
          .year {
            font-size: 1.4rem;
            font-weight: 500;
            display: block;
            padding: 0 8%;
          }
        }
      }
    }
  }
}

.lower-interview_d {
  .l-main {
    margin-top: 20px;
    @include mq(tab_max) {
      margin-top: 10px;
    }
  }
  .interview {

    &__inner {
      max-width: 1410px;
    }
    &__head {

      .profile {
        position: relative;
        padding-top: 80px;
        @include mq(tab_only) {
          padding-top: 64px;
        }
        @include mq(tab_max) {
          padding-top: 64px;
        }

        &:before,
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          left: 50%;
          width: 100%;
          max-width: 1330px;
          height: 75%;
          border-radius: 10px;
          transform: translateX(-50%);
          pointer-events: none;
          @include mq(tab_only) {
            height: 70%;
          }
          @include mq(tab_max) {
            height: 78%;
            border-radius: 0;
          }

        }
        &:before {
          background-image: url(../img/interview/bg01.jpg);
          background-size: cover;
          background-position: center;
          opacity: 0.07;
        }
        &:after {
          background-color: $primary-color;
          z-index: -1;
        }

        &__inner {
          max-width: 1180px;
          margin: 0 auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          @include mq(tab_max) {
            display: block;
          }
        }

        .img-holder {
          flex: 0 0 33%;
          margin-right: 6%;
          position: relative;
          @include mq(tab_max) {
            width: 80%;
            margin: 0 auto;
          }

          .num {
            position: absolute;
            top: 0;
            left: 0;
            width: 106px;
            height: 106px;
            color: $primary-color;
            background-color: $third-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 2.8rem;
            transform: translate(-50%,-50%);
            z-index: 2;
            font-weight: bold;
            @include mq(tab_only) {
              width: 80px;
              height: 80px;
              transform: translate(-25%,-50%)
            }
            @include mq(tab_max) {
              width: 72px;
              height: 72px;
              font-size: 2rem;
            }
          }
          .img {
            @include keepAspect(114%);
            box-shadow: 8px 54px 36px -42px $primary-color;
            @include mq(tab_max) {
              box-shadow: none;
            }
            img {
              border-radius: 10px;
            }
          }
        }
        .txt-holder {
          flex: 1 1 auto;

          .lead {
            font-size: 3.2rem;
            line-height: 1.7;
            color: #fff;
            font-weight: bold;
            @include mq(tab_max) {
              font-size: 2.4rem;
              margin-top: 24px;
            }
          }
          .name-holder {
            margin-top: 20px;
            margin-bottom: 64px;
            @include mq(tab_only) {
              margin-bottom: 24px;
            }
            @include mq(tab_max) {
              margin-bottom: 32px;
            }

            .name {
              display: block;
              color: #fff;
              font-size: 2.6rem;
              font-weight: bold;
              margin-bottom: 8px;
              line-height: 1.7;
              @include mq(tab_max) {
                font-size: 2.2rem;

              }
            }
            .position {
              display: inline-block;
              color: $primary-color;
              background-color: #fff;
              padding: 4px 16px;
              border-radius: 2px;
              font-weight: bold;
            }
            .year {
              color: rgba(#fff, 0.8);
              font-size: 1.4rem;
              font-weight: bold;
              margin-left: 8px;

            }
          }
          .m_title_style01 {
            .en {
              &._c_primary {
                color: $third-color;
              }
            }
          }
          .desc {
            margin-top: 4px;
            font-weight: 400;
          }
        }
      }
      .feature {
        &__inner {
          max-width: 1160px;
          margin: 88px auto 0;
          position: relative;
          @include mq(tab_max) {
            margin-top: 72px;
          }

          &::before {
            content: '';
            display: inline-block;
            width: 75%;
            height: 100%;
            border: 40px solid #fdf6c3;
            position: absolute;
            top: 14px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            @include mq(tab_max) {
              top: -48px;
              border: 30px solid #fdf6c3;
              height: calc(100% + 48px);
            }
          }

        }
        &__head {
          text-align: center;
          .head {
            font-size: 3rem;
            font-weight: bold;
            @include mq(tab_max) {
              font-size: 2.4rem;
            }

            .bg-green {
              background-color: $primary-color;
              color: #fff;
              display: inline-block;
              padding: 2px 20px;
              margin: 0 16px;
              border-radius: 5px;
            }
          }
        }
        &__body {
          margin-top: 60px;
          @include mq(tab_max) {
            margin-top: 44px;
          }
        }

        &__list {
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          @include mq(tab_max) {
            display: block;
          }

          &__item {
            background-color: #fff;
            width: 31%;
            margin-right: 3.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            padding-top: 48px;
            position: relative;
            border-radius: 20px;
            @include mq(tab_max) {
              width: 90%;
              margin: 40px auto 0;

              &:first-child {
                margin-top: 0;
              }
            }

            &:nth-child(3n+2) {
              transition-delay: 0.2s;
            }
            &:nth-child(3n+3) {
              margin-right: 0;
              transition-delay: 0.4s;
              @include mq(tab_max) {
                margin-right: auto;
              }
            }

            .num {
              font-size: 4rem;
              font-weight: bold;
              font-family: $eng02;
              color: $primary-color;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%,-50%);
              line-height: 1.6;

              &:before {
                content: '';
                display: inline-block;
                width: 28px;
                height: 3px;
                background-color: $primary-color;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            .desc {
              font-size: 1.8rem;
              font-weight: bold;
              @include mq(tab_only) {
                font-size: 1.7rem;
              }
            }
          }
        }
      }
    }

    .sec__interview {
      max-width: 1200px;
      margin: 170px auto 0;
      @include mq(tab_max) {
        margin-top: 96px;
      }

      .head {
        text-align: center;
      }
      .body {
        margin-top: 60px;
        padding: 60px 0;
        position: relative;
        @include mq(tab_max) {
          margin-top: 64px;
          padding-top: 64px;
          padding-bottom: 40px;
        }

        &:before {
          content: '';
          display: inline-block;
          width: 90%;
          height: 100%;
          background-color: #fff;
          border-radius: 20px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          @include mq(tab_max) {
            width: 100%;
          }
        }
      }

      .deco {
        width: 272px;
        position: absolute;
        top: -120px;
        left: -80px;
        @include mq(tab_only) {
          width: 212px;
          top: -94px;
          left: -22px;
        }
        @include mq(tab_max) {
          width: 140px;
          top: -40px;
          left: -8px;
        }
      }
      .list {

        &__item {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: 56px;
          padding-left: 9%;
          @include mq(tab_max) {
            display: block;
            padding-left: 0;
            width: 90%;
            margin: 0 auto;
            margin-top: 32px;

            &:first-child {
              margin-top: 0;
            }
          }

          &:first-child {
            margin-top: 0;
          }
          &:nth-child(even) {
            flex-direction: row-reverse;
            padding-left: 0;
            padding-right: 9%;
            @include mq(tab_max) {
              padding-right: 0;
            }

            .img-holder {
              margin-left: 0;
              margin-right: 4%;
              transform: translateX(-30%) rotate(0.01deg);
              @include mq(tab_max) {
                margin-right: 0;
              }
            }
          }

          .txt-holder {
            flex: 1 1 auto;
            align-self: center;
            .term {
              font-size: 2.4rem;
              color: $primary-color;
              line-height: 1.6;
              font-weight: bold;
            }
            .desc {
              margin-top: 16px;
              font-weight: 400;
            }
          }
          .img-holder {
            flex: 0 0 37%;
            margin-left: 4%;
            border-radius: 10px;
            opacity: 0;
            transform: translateX(30%) rotate(0.01deg);
            transition-property: transform, opacity;
            transition-duration: 0.6s, 0.5s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1), linear;
            @include mq(tab_max) {
              margin-left: 0;
              max-width: 444px;
              margin: 16px auto 0;
            }

            &.acted {
              opacity: 1;
              transform: translateX(0) rotate(0.01deg);
            }

            .img {
              @include keepAspect(74.5%);
              border-radius: 10px;
              img {
                border-radius: 10px;
                border: 1px solid transparent;
              }
            }
          }
        }
      }
    }
    .sec__question {
      margin-top: 100px;
      @include mq(tab_max) {
        margin-top: 48px;
      }
      .question {
        max-width: 1075px;
        margin: 0 auto;

        &__inner {
          background-color: $primary-color;
          border-radius: 20px;
          padding: 50px 70px 64px;
          position: relative;
          @include mq(tab_max) {
            margin-right: auto;
            padding: 36px 20px 48px;
            overflow: hidden;
          }

          &:before {
            content: '';
            display: inline-block;
            background-image: url(../img/interview/bg_deco_circle01.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-68%);
            pointer-events: none;
            @include mq(tab_max) {
              height: 345px;
            }
          }
        }
        &__head {
          text-align: center;
        }
        &__body {
          margin-top: 48px;
          @include mq(tab_max) {
            margin-top: 32px;
          }
        }

        &__list {
          &__item {
            background-color: #fff;
            border-radius: 20px;
            padding: 48px;
            margin-top: 20px;
            @include mq(tab_max) {
              padding: 24px;
              margin-top: 16px;
            }

            &:first-child {
              margin-top: 0;
            }

            .txt-question {
              font-size: 2rem;
              color: $primary-color;
              line-height: 1.7;
              position: relative;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              font-weight: bold;

              &::before {
                content: 'Q';
                display: inline-block;
                color: #fff;
                flex: 0 0 34px;
                margin-right: 10px;
                font-size: 1.8rem;
                font-weight: bold;
                font-family: $eng02;
                background-color: $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 34px;
                height: 34px;
                border-radius: 50%;
              }
            }
            .txt-answer {
              margin-top: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .sec__others {
      margin-top: 130px;
      padding-bottom: 36px;
      background-color: $third-color;
      position: relative;
      @include mq(tab_max) {
        margin-top: 80px;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../img/interview/bg_deco_circle02.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
        position: absolute;
        right: 0;
        top: 0;
      }

      .others {
        &__inner {
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          @include mq(tab_max) {
            display: block;
          }
        }
      }
    }

    .sec__message {
      flex: 0 0 44%;
      padding-right: 3%;
      padding-bottom: 64px;
      @include mq(tab_max) {
        padding-right: 0;
        padding-bottom: 0;
      }

      .head {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include mq(tab_max) {
          display: block;
        }

        .img {
          flex: 0 0 41.5%;
          max-width: 220px;
          margin-left: -10%;
          margin-top: -64px;
          @include keepAspect(100%);
          @include mq(tab_max) {
            width: 180px;
            margin: 0 auto;
          }

          img {
            border-radius: 50%;
            border: 10px solid #c5f4c6;
            @include mq(tab_max) {
              margin-top: -48px;
            }
          }
        }
        .m_title_style01 {
          margin-top: 48px;
          margin-left: 3%;
          flex: 1 1 auto;
          @include mq(tab_max) {
            margin-top: -38px;
            margin-left: 0;
          }
          .en {
            font-size: 4.5rem;
            margin-top: 12px;
            @include mq(tab_only) {
              font-size: 4rem;
            }
            @include mq(tab_max) {
              font-size: 4rem;
            }
          }
        }
      }
      .body {
        .lead {
          color: $primary-color;
          font-size: 2.4rem;
          font-weight: bold;
          line-height: 1.7;
          margin-top: 32px;
          @include mq(tab_max) {
            font-size: 1.8rem;
            margin-top: 24px;
          }
        }
        .desc {
          color: $primary-color;
          margin-top: 16px;
          font-weight: 400;
        }
      }
    }
    .sec__oneday {
      flex: 0 0 56%;
      position: relative;
      border-left: 2px solid #fdfcf7;
      margin-top: 32px;
      padding-left: 5%;
      padding-bottom: 64px;
      @include mq(tab_max) {
        padding-top: 12px;
        padding-left: 0;
        border-left: none;
        border-top: 2px solid #fdfcf7;
        padding-bottom: 24px;
      }

      .head {
        margin-top: 16px;

        .m_title_style01 {
          .en {
            font-size: 4.5rem;
            margin-top: 12px;
            @include mq(tab_only) {
              font-size: 4rem;
            }
            @include mq(tab_max) {
              font-size: 4rem;
            }
          }
        }
      }
      .body {

      }

      .oneday {
        &__list {
          margin-top: 48px;
          position: relative;
          @include mq(tab_max) {
            margin-top: 32px;
          }

          &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 100%;
            background-color: $primary-color;
            position: absolute;
            top: 0;
            left: 40px;
          }

          &__item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 28px;
            position: relative;
            @include mq(tab_max) {
              flex-wrap: wrap;
            }

            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              &::before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 100%;
                background-color: #c5f4c6;
                position: absolute;
                top: 0;
                left: 40px;
              }
            }

            .time {
              flex: 0 0 80px;
              margin-right: 4.5%;
              color: #fff;
              background-color: $primary-color;
              display: inline-block;
              border-radius: 100px;
              text-align: center;
              position: relative;
            }
            .term {
              flex: 0 0 25%;
              max-width: 105px;
              margin-right: 4.5%;
              font-size: 1.6rem;
              font-weight: bold;
              color: $primary-color;
              @include mq(tab_max) {
                flex: 0 0 60%;
                max-width: none;
              }
            }
            .desc {
              flex: 1 1 auto;
              color: $primary-color;
              font-weight: 400;
              @include mq(tab_max) {
                display: inline-block;
                margin-left: 96px;
              }
            }
          }
        }
      }
    }

    .coverage-date {
      text-align: center;
      margin-top: 64px;
      @include mq(tab_max) {
        margin-top: 48px;
      }
      .txt {
        font-weight: bold;
      }
    }
    .m_button_style01 {
      margin: 24px auto 0;
      @include mq(tab_max) {
        margin-top: 16px;
      }
    }

  }
}
