@charset "utf-8";
@use "../foundation/mixins" as *;
/* ============================================
// 指導員の一日の流れ
// ==========================================*/

.lower-oneday {


  .sec__oneday {
    .oneday {
      &__inner {

      }
      &__head {
      }
      &__body {
        text-align: center;
        .name {
          font-family: $eng;
          font-size: 16.4rem;
          color: $third-color;
          line-height: 1;
          text-align: center;
          margin-top: 32px;
          @include mq(tab_only) {
            font-size: 13rem;
          }
          @include mq(tab_max) {
            font-size: 4rem;
            margin-left: 72px;
            margin-top: 44px;
          }
        }
      }

      &__list {
        position: relative;
        padding-top: 110px;
        padding-bottom: 160px;
        margin-top: -72px;
        z-index: 2;
        @include mq(tab_max) {
          padding-top: 84px;
          margin-top: -64px;
          padding-bottom: 40px;
        }

        &__item {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-top: 64px;
          position: relative;
          min-height: 110px;

          @include mq(tab_max) {
            flex-wrap: wrap;
            margin-top: 32px;
            min-height: 60px;
          }

          &:first-of-type {
            margin-top: 0;
          }
          &:last-child {
            position: relative;
            &:after {
              content: '';
              display: inline-block;
              background-color: #ffffff;
              width: 30px;
              height: 100%;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              z-index: -1;
              border-radius: 200px;
              @include mq(tab_max) {
                left: 0;
                transform: translateX(0);
                width: 48px;
              }
            }
          }
          &:nth-of-type(odd) {
            .txt-holder {
              @include mq(tab_min) {
                padding-right: 4%;
                @media all and (-ms-high-contrast: none) {
                  padding-right: 6%;
                }
              }
            }
            .img-holder {
              @include mq(tab_min) {
                padding-left: 6%;
              }
            }
          }
          &:nth-of-type(even) {
            flex-direction: row-reverse;
            @include mq(tab_max) {
              flex-direction: row;
            }

            .txt-holder {
              @include mq(tab_min) {
                padding-left: 4%;
                @media all and (-ms-high-contrast: none) {
                  padding-left: 6%;
                }
              }
            }
            .img-holder {
              @include mq(tab_min) {
                padding-right: 6%;
              }
            }
          }

          .txt-holder {
            flex: 0 0 45%;
            margin-top: 24px;
            @media all and (-ms-high-contrast: none) {
              flex: 1 1 45%;
            }
            @include mq(tab_only) {
              flex: 0 0 42%;
            }
            @include mq(tab_max) {
              order: 3;
              padding-left: 80px;
              flex: 1 1 auto;
              margin-top: -48px;
            }

            .term {
              font-size: 2.6rem;
              font-weight: bold;
              line-height: 1.6;
              color: $primary-color;
              text-align: left;
              @include mq(tab_max) {
                font-size: 2rem;
              }
            }
            .desc {
              margin-top: 8px;
              font-weight: 400;
              text-align: left;
              @include mq(tab_max) {
                font-size: 1.4rem;
              }
            }
          }
          .time {
            flex: 0 0 110px;
            width: 110px;
            height: 110px;
            color: $primary-color;
            background-color: $third-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 20px 20px -20px $primary-color;
            font-family: $eng02;
            font-size: 2rem;
            font-weight: bold;

            @include mq(tab_min) {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            @include mq(tab_max) {
              flex: 0 0 60px;
              width: 60px;
              height: 60px;
              font-size: 1.5rem;
              order: 1;
            }
          }
          .img-holder {
            flex: 0 0 45%;
            margin-top: 24px;
            @media all and (-ms-high-contrast: none) {
              flex: 1 1 45%;
            }
            @include mq(tab_only) {
              flex: 0 0 42%;
            }
            @include mq(tab_max) {
              order: 2;
              flex: 1 1 45%;
              padding-left: 20px;
              margin-top: 20px;
              margin-bottom: 64px;
            }

            .img {
              @include keepAspect(59.5%);

              img {
                border-radius: 10px;
                border: 1px solid transparent;
              }
            }
          }
        }
      }
      &__bg-deco {
          display: inline-block;
          background-color: #fff;
          width: 30%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          border-radius: 200px;
          @include mq(tab_max) {
            left: 0;
            transform: translateX(0);
            width: 18%;
          }

          &:before {
            content: '';
            display: inline-block;
            background-image: url(../img/oneday/ico_car-start.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 98px;
            height: 96px;
            position: absolute;
            top: -60px;
            left: calc(50% - 16px);
            transform: translateX(-50%);
            @include mq(tab_max) {
              transform: translateX(-50%) scale(0.7);
              top: -56px;
              left: calc(50% - 11px);

            }
          }
          &:after {
            content: '';
            display: inline-block;
            background-color: #fdf6c3;
            width: 30px;
            height: calc(100% - 160px);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            border-radius: 200px;
            @include mq(tab_max) {
              width: 16px;
            }
          }
      }
    }
  }
  .sec__career {
    margin-top: 96px;
    @include mq(tab_max) {
      margin-top: 32px;
    }

    .career {
      &__inner {

      }
      &__head {
        text-align: center;
        position: relative;
        @include mq(tab_max) {
          text-align: right;
        }

        .deco {
          width: 236px;
          position: absolute;
          top: -16px;
          left: -24px;
          @include mq(tab_only) {
            width: 212px;
            left: -24px;
          }
          @include mq(tab_max) {
            width: 120px;
            top: 24px;
            left: 0
          }
        }
        .m_title_style01 {
          @include mq(tab_max) {
            flex-direction: column;
            margin-right: 48px;
          }
        }
        .commonLead {
          margin-top: 40px;
          @include mq(tab_max) {
            margin-top: 16px;
          }
        }
      }
      &__body {

      }
    }

    .sec__plan {
      max-width: 1100px;
      margin: 64px auto 0;
      @include mq(tab_max) {
        margin-top: 32px;
      }
      .plan {
        &__head {
          text-align: center;
        }
        &__body {

        }

        &__list {
          margin-top: 52px;
          position: relative;
          @include mq(tab_max) {
            margin-top: 28px;
          }

          &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 100%;
            background-color: $primary-color;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }

          &__item {
            background-color: #fff;
            border: 1px solid $primary-color;
            border-radius: 10px;
            padding: 28px 4.5%;
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            @include mq(tab_max) {
              padding: 20px 5% 28px;
              display: block;
            }

            &:first-child {
              margin-top: 0;
            }

            .age {
              flex: 0 0 11%;
              font-size: 2.6rem;
              font-weight: bold;
              color: $primary-color;
              padding-top: 28px;
              @include mq(tab_max) {
                padding-top: 0;
                font-size: 2rem;
              }
            }
            .desc-holder {
              flex: 0 0 90%;
              border-left: 2px solid #e6e6e6;
              padding: 20px 4%;
              align-self: stretch;
              margin-left: 4%;
              @media all and (-ms-high-contrast: none) {
                flex: 1 1 90%;
              }
              @include mq(tab_max) {
                padding: 0;
                margin-left: 0;
                border-left: none;
                border-top: 2px solid #e6e6e6;
                padding-top: 8px;
                margin-top: 8px;
              }

              .year {
                display: block;
                font-size: 1.8rem;
                font-weight: bold;
                @include mq(tab_max) {
                  font-size: 1.6rem;
                }
              }
              .todo {
                display: inline-block;
                margin-top: 4px;
                font-weight: 400;
              }
              .lifeplan-holder {
                margin-top: 14px;
                color: $primary-color;
                font-weight: bold;

                .txt-lifeplan {
                  flex: 0 0 ;
                  background-color: $third-color;
                  font-family: $eng02;
                  letter-spacing: 0.08em;
                  padding: 6px 10px;
                  border-radius: 10px;
                  margin-right: 16px;
                }
                .lifeplan-age {
                  display: inline-block;
                  margin-right: 16px;
                }
                .lifeplan-todo {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
    .sec__training {
      max-width: 1100px;
      margin: 130px auto 0;
      @include mq(tab_max) {
        margin-top: 48px;
      }
      .training {
        &__head {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          max-width: 1100px;
          margin: 0 auto;
          @include mq(tab_max) {
            display: block;
          }

          .m_title_style03 {
            white-space: nowrap;
          }
          .lead {
            align-self: flex-end;
            margin-left: 9%;
            font-weight: 400;
            @include mq(tab_max) {
              margin-left: 0;
              margin-top: 14px;
            }
          }
        }
        &__body {
          margin-top: 56px;
          @include mq(tab_max) {
            margin-top: 28px;
          }
        }

        &__list {
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          @include mq(tab_max) {
            display: block;
          }

          &__item {
            flex: 0 0 43%;
            max-width: 470px;
            margin-right: 14%;
            position: relative;
            padding-bottom: 48px;
            @include mq(tab_max) {
              width: 85%;
              margin: 0 auto;
            }
            @include mq(tab_max) {
              margin-top: 52px;

              &:first-child {
                margin-top: 0;
              }
            }

            &:before {
              content: '';
              display: inline-block;
              width: 120%;
              height: calc(100% - 60px);
              background-color: #fff;
              position: absolute;
              bottom: 0;
              left: 50%;
              z-index: -1;
              transform: translateX(-50%);
              border-radius: 20px;

            }

            &:nth-child(2n+2) {
              @include mq(tab_min) {
                margin-right: 0;
                transition-delay: 0.2s;
              }
            }

            .num {
              font-size: 9.8rem;
              color: $third-color;
              font-family: $eng;
              position: absolute;
              right: 0;
              bottom: -48px;
              line-height: 1;
              @include mq(tab_max) {
                font-size: 6rem;
                bottom: -32px;
              }
            }
            .img-holder {
              .img {
                @include keepAspect(62.5%);
                img {
                  border-radius: 10px;
                }
              }
            }
            .txt-holder {
              .term {
                font-size: 2.4rem;
                color: $primary-color;
                line-height: 1.6;
                margin-top: 12px;
                font-weight: bold;
                @include mq(tab_max) {
                  font-size: 2rem;
                  margin-top: 8px;
                }
              }
              .desc {
                margin-top: 12px;
                font-weight: 400;
                @include mq(tab_max) {
                  margin-top: 8px;
                }
              }
            }
          }
        }
      }
    }
    .sec__qualification {
      margin-top: 160px;
      margin-bottom: 248px;
      @include mq(tab_max) {
        margin-top: 64px;
        margin-bottom: 110px;
      }

      .qualification {
        &__head {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          max-width: 1100px;
          margin: 0 auto;
          @include mq(tab_max) {
            display: block;
          }

          .m_title_style03 {
            white-space: nowrap;
          }
          .lead {
            align-self: flex-end;
            margin-left: 9%;
            font-weight: 400;
            @include mq(tab_max) {
              margin-left: 0;
              margin-top: 14px;
            }
          }
        }
        &__body {
          margin-top: 64px;
          position: relative;
          @include mq(tab_max) {
            margin-top: 32px;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 109%;
            height: calc(100% + 56px);
            background-color: #fff;
            border-radius: 20px;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            @include mq(tab_max) {
              height: calc(100% + 32px);
              top: 64px;
            }
          }
        }

        &__list {
          &__item {
            background-color: $primary-color;
            color: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            position: relative;
            box-shadow: 0px 32px 32px -32px $primary-color;

            .years {
              font-size: 2rem;
              font-weight: bold;
              margin-bottom: 4px;
              @include mq(tab_max) {
                font-size: 1.8rem;
              }
              .num {
                font-size: 3rem;
                line-height: 1;
                font-weight: bold;
                display: inline-block;
                margin-right: 4px;
                @include mq(tab_max) {
                  font-size: 2.6rem;
                }
              }
            }
            .todo {

            }
          }
        }
      }
    }
  }

  // swiper 関連
  .swiper {
    position: relative;
    width: 313px;
    @include mq(tab_max) {
      width: 80%;
    }


    .swiper-slide {
      height: auto;
    }
    .swiper-box {
      height: 100%;
    }
    .swiper-pagination {
      top: auto;
      position: relative;
      width: 940px;
      height: 9px;
      border-radius: 4.5px;
      bottom: -64px;
      left: 120px;
      @include mq(tab_only) {
        width: 820px;
      }
      @include mq(tab_max) {
        width: 220px;
        bottom: -64px;
      }

      &-progressbar {
        background-color: #fdf6c3;
        .swiper-pagination-progressbar-fill {
          background: $primary-color;
          border-radius: 4.5px;
        }
      }

      .swiper-pagination-progressbar-fill {
        &:before {
          // content: '';
          display: inline-block;
          width: 58px;
          height: 58px;
          background-image: url(../img/oneday/ico_car.png);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .swiper-buttons {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      top: 40px;
      @include mq(tab_max) {
        top: 38px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      left: auto;
      right: auto;
      background-image: none;
      margin-top: 0;
      width: 38px;
    }
    .swiper-button-prev {
      transform: scale(-1,1);
      margin-right: 10px;
    }
  }
}
