@charset "utf-8";
@use "../foundation/mixins" as *;
/* ============================================
// MODULES
// ==========================================*/

/*--------------------
button
--------------------*/
.m_button_style01 {
  font-weight: 400;
  position: relative;
  text-align: center;
  line-height: 1;
  & > a,
  & > span,
  & > input {
    padding: 16px 20px 16px 20px;
    width: 100%;
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.6rem;
    transition: all .5s $easing;
    @include mq(tab_min) {
      padding: 20px 38px 20px 38px;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px 6px;
      border-color: transparent transparent transparent $primary-color;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 24px;
      margin: auto;
    }
  }

  &._c_primary {
    & > a,
    & > span {
      background: $primary-color;
      color: #FFF;
      @include mq(hover) {
        &:hover {
          background: $third-color !important;
          color: $primary-color;
          transform: scale(1.1);
        }
      }
    }
  }
  &._c_secondary {
    & > a,
    & > span {
      background: $secondary-color;
      color: $primary-color;
      @include mq(hover) {
        &:hover {
          background: $primary-color !important;
          transform: scale(1.1);
          color: #FFF;
        }
      }
    }
  }
  &._c_third {
    & > a,
    & > span {
      background: $third-color;
      color: $primary-color;
      @include mq(hover) {
        &:hover {
          background: $primary-color !important;
          transform: scale(1.1);
          color: #FFF;
        }
      }
    }
  }

  &._w_regular {
    width: 100%;
    max-width: 260px;
    display: block;
    & > a,
    & > span,
    & > input {
      padding: 16px 14px 16px 14px;
      width: 100%;
      @include mq(tab_min) {
        padding: 20px 38px 20px 38px;
      }
    }
    &220 {
      width: 100%;
      max-width: 220px;
      display: block;
      & > a,
      & > span,
      & > input {
        padding: 8px 24px 8px 24px;
        width: 100%;
      }
    }
    &180 {
      width: 100%;
      max-width: 180px;
      display: block;
      & > a,
      & > span,
      & > input {
        padding: 16px 24px 16px 24px;
        width: 100%;
      }
    }
  }
  &._w_short {
    width: 100%;
    & > a,
    & > span,
    & > input {
      max-width: 129px;
      padding: 4px 16px 4px 14px;
      font-size: 1.2rem;
      &::after {
        right: 6px;
        border-width: 3px 0 3px 4px;
      }
    }
  }
  &._d_back {
    a {
      &::before {
        transition: all 0.6s $easing;
        right: inherit;
        left: -18px;
        transform: scale(-1, 1) translateX(0);
      }
      &::after {
        right: auto;
        left: 0;
      }
      @include mq(hover) {
        &:hover {
          &::before {
            transform: scale(-1, 1) translateX(17px);
          }
          &::after {
            transform: translateX(16px) scale(1, 1);
          }
        }
      }
    }
  }
  &._d_newTab {
    position: relative;

    a {
      &::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(../img/ico_newtab.svg) no-repeat;
        background-size: cover;
        //        position: absolute;
        //        top: 5px;
        //        right: 5px;
        z-index: 1;
        transition: all 0.5s ease;
        position: relative;
        margin-left: 20px;
        margin-right: -10px;
      }
    }
  }
}
.m_button_style02 {
  a {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid #333;
    transition: all 0.6s $easing;
    font-weight: bold;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: $primary-color;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px 6px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 4px;
      margin: auto;
    }
    &:hover {
      opacity: 0.7;
      span{

        transform: scale(1.1);
      }
    }
    span{

    transition: all 0.6s $easing;
      padding: 10px 30px 10px 0;
    }
  }
  &._c_primary{
    a{
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
}

/*--------------------
 title
--------------------*/
.m_title_style01 {
  position: relative;
  flex-flow: column;
  justify-content: flex-start;
  @include mq(tab_min) {
    display: inline-flex;
  }
  .en {
    font-size: (7rem * 0.6);
    font-family: $eng;
    line-height: 1;
    margin-top: 5px;
    letter-spacing: .08em;
    @include mq(tab_min) {
      font-size: 7rem;
      margin-top: 20px;
    }
    &._c_primary {
      color: $primary-color;
    }
    &._c_white {
      color: #FFF;
    }

  }

  .ja {
    font-size: (2rem * 0.8);
    font-weight: bold;
    @include mq(tab_min) {
      font-size: 2rem;
    }
    &._c_primary {
      color: $primary-color;
    }
    &._c_white {
      color: #FFF;
    }
  }
  &._l_center {
    display: inline-flex;
    text-align: center;
    .en {
      text-align: center;
      justify-content: center;
    }
    .ja {
      padding: 0;
      justify-content: center;
    }
  }
  &._l_row {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    .en {
      margin-left: 20px;
    }
  }
  &._l_small {
    .en {
      font-size: (4rem * 0.7);
      @include mq(tab_min) {
        font-size: 4rem;
      }
    }
    .ja {
      font-size: (2rem * 0.7);
      @include mq(tab_min) {
        font-size: 2rem;
      }
    }
  }
  &._l_underline {
    border-bottom: 1px solid $primary-color;
    display: inline-flex;
    .en {
      margin-left: 0;
    }
    .ja {
      margin-left: 16px;
    }
  }
  &._c_primary {
    .en {
      color: $primary-color;
    }
    &_all {
      .en,
      .ja {
        color: $primary-color;
      }
    }
  }
  &._a_move01{
    .en{
      & > span{
        display: inline-block;
        transform: translateY(30px) scale(0.5);
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: $easing;
        opacity: 0;
        @for $i from 1 to 20 {
          &:nth-child(#{$i}) {
            transition-delay: 0.05s * $i ;
          }
        }
      }
    }
    .ja {
      transform: translateX(100px);
      transition: all .5s $easing;
      opacity: 0;
    }
    &.acted{
      .en{
        span{
          transform: translateY(0) scale(1);
          opacity: 1;
        }
      }
      .ja{
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
.m_title_style02 {
  position: relative;
  flex-flow: column;
  justify-content: flex-start;
  @include mq(tab_min) {
    display: inline-flex;
  }
  .en {
    font-size: 1.1rem;
    font-family: $eng02;
    line-height: 1;
    margin-top: 8px;
    @include mq(tab_min) {
      font-size: 1.2rem;
    }
    & > span{
      display: initial;
    }
    &._c_primary {
      color: $primary-color;
    }
  }
  .ja {
    font-size: (2.8rem * 0.7);
    font-weight: bold;
    @include mq(tab_min) {
      font-size: 2.8rem;
    }
    &._c_primary {
      color: $primary-color;
    }
  }
  &._l_center {
    display: inline-flex;
    text-align: center;
    .en {
      text-align: center;
      justify-content: center;
    }
    .ja {
      padding: 0;
      justify-content: center;
    }
  }
  &._l_row {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    .en {
      margin-left: 20px;
    }
  }
  &._a_move01{
    .en{
      & > span{
        display: inline-block;
        transform: translateY(30px) scale(0.5);
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: $easing;
        opacity: 0;
        @for $i from 1 to 20 {
          &:nth-child(#{$i}) {
            transition-delay: 0.05s * $i ;
          }
        }
      }
    }
    .ja {
      transform: translateX(100px);
      transition: all .5s $easing;
      opacity: 0;
    }
    &.acted{
      .en{
        span{
          transform: translateY(0) scale(1);
          opacity: 1;
        }
      }
      .ja{
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
.m_title_style03 {
  font-size: 2.8rem;
  color: $primary-color;
  font-weight: bold;
  background:linear-gradient(transparent 60%, #fff850 60%);
  line-height: 1.6;
  display: inline-block;
}



/*--------------------
inner
--------------------*/
.m_inner_style {
  //inner size 1280px
  &01 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @include mq(tab_min) {
      padding: 0 40px;
    }
  }
  //inner size 1380px
  &02 {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @include mq(tab_min) {
      padding: 0 40px;
    }
  }

  &03 {
    max-width: calc(1580px + 80px);
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @include mq(tab_min) {
      padding: 0 40px;
    }
  }
  // &04 {
  //   max-width: 1280px;
  //   width: 100%;
  //   margin: 0 auto;
  //   padding: 0 16px;
  //   @include mq(tab_min) {
  //     padding: 0 40px;
  //   }
  // }
  // &05 {
  //   max-width: calc(1028px + 80px);
  //   width: 100%;
  //   margin: 0 auto;
  //   padding: 0 16px;
  //   @include mq(tab_min) {
  //     padding: 0 40px;
  //   }
  // }
  // &06 {
  //   max-width: calc(1100px + 80px);
  //   width: 100%;
  //   margin: 0 auto;
  //   padding: 0 16px;
  //   @include mq(tab_min) {
  //     padding: 0 40px;
  //   }
  // }
}

/*--------------------
layout
--------------------*/
.m_layout_style01 {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  @include mq(tab_min) {
    flex-flow: row;
  }
  &._l_row {
    flex-flow: row;
    @include mq(tab_min) {
      flex-flow: row;
    }
  }
  &._l_column {
    flex-flow: column;
    @include mq(tab_min) {
      flex-flow: column;
    }
  }
}

/* ============================================
// その他
// ==========================================*/
@keyframes fuwa {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes balloon {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1.1) rotate(5deg);
    opacity: 1;
  }
  60% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  80% {
    transform: scale(1.25) rotate(-5deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

.animation {
  &.a_humanDeco {
    .human {
      opacity: 0;
      transform: translateY(100%);
      transition: all 0.5s $easing;
    }
    .balloon {
      opacity: 0;
    }
    &.acted {
      .human {
        opacity: 1;
        transform: translateY(0);
        opacity: 1;
      }
      .balloon {
        animation: balloon 0.8s 0.5s linear forwards;
      }
    }
  }
}

.m_pageLink {
  margin-top: 60px;
  ul {
    flex-flow: wrap;
    margin-top: 20px;
    @include mq(tab_min) {
      justify-content: center;
    }
    li {
      margin: 0 10px 10px;
      width: 44%;
      @include mq(tab_min) {
        max-width: 176px;
        width: 100%;
      }
    }
    a {
      width: 100%;
      // padding: 16px 20px;
      position: relative;
      padding: 16px 40px;
      &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        background-image: url(../img/ico_arrow_down.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 24px;
        margin: auto;
      }
    }
  }
}

.no_text {
  width: 100%;
  //  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &._c_white {
    color: #fff;
  }
}
